*{
    margin: 0;
  }


/* LANDING PAGE */

#particles{
    position: absolute;
    z-index: -1;
}
#landing{
    background-color: #11698E;
    padding: 1% 0;
    padding-bottom: 0;
    margin-left: 0;
    
}
/* NAVBAR */

#nav{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5% 0 1.3% 0;
    overflow: hidden;
}
#nav  a{
    text-decoration: none;
    color: white;
}
#nav a:hover{
    color: #F8F1F1;
    border-radius: 20px;
    
}
#nav li:hover{
    animation: scaleX 0.2s linear forwards;
}
/* FLEX CONTAINERS */
#landing-flex-container{
    
    display: flex;
}

#landing-bg-img{
    flex: 2.5;
    background-image: url("https://i.pinimg.com/564x/b0/58/27/b058271cae69e6ac6d6e8e63e5fd7889.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    padding: 25% 5% 5% 15%; 
}

#hello{
    font-size: 1.7rem;
    font-weight: 100;
    
}
#tag{
    font-size: 1.5rem;
    font-family: serif;
    animation: pop 2s ease-in 0.1s backwards;
}
#name-heading{
    font-size: 4rem;
    animation: pop 2s ease-in 0.1s backwards;
}
#hello{
    animation: pop 2s ease-in 0.1s backwards;
}


/* LANDING SECOND DIV */
#Avatar img{
    /* background-image: url("./images/avatar.png");
    background-repeat: none;
    background-size: cover;
    background-position: center; */
    display: inline-block;
    width: 10vw;
    height: 20vh;
    border-radius: 50%
}

#landing-info{
    flex: 1;
    color: #F8F1F1;
    padding: 0 5% 5% 5%;
    text-align: center;
}

#name{
    margin-top: 10%;
    
}
#email{
    margin-top: 20%;
    color: #F8F1F1;
}
#email:hover{
    color: black;
    animation: scaleX 0.2s linear forwards;
}
#tag2{
    margin-top: 5%;
    margin-bottom: 2%;
}
#landing-links{
    margin-top: 10%;
    text-align: center;
    
}
#landing-info a{
    text-decoration: none;
    color: #F8F1F1;
    font-size: 1.2rem;
   
}
#landing-info a:hover{
    color: black;
    
}
#landing-info a i {
    margin: 0 5%;
    
}
#landing-info a i:hover{
    animation: rotate 0.5s linear forwards;
}
#about-btn{
    margin-top: 20%;
    color: #11698E;
    background-color: white;
    border: 0;
    padding: 4% 9%;
}
#about-btn:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    /* animation: scaleX 0.2s linear forwards; */
    animation: rotate 0.5s linear forwards;
}

/* FILLER */
#filler, #filler2{
    height: 50vh;
    background-image: url("https://images.unsplash.com/photo-1564865878688-9a244444042a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-position: bottom;
    background-clip: content-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

#filler2{
    background-image: url("https://images.unsplash.com/photo-1509395176047-4a66953fd231?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80");
    background-position: center;
}   

/* ABOUT SECTION */
#about{
    padding: 5% 20%;
    line-height: 2;
    background-color: #F0F8FF;
    text-align: justify;
}
#about-head{
    color: rgb(120, 120, 243);
    font-style: italic;
    font-weight: 200;
}

#about-parah{
    margin-top: 3%;

    font-size: 1rem;
    font-weight: 100;
    font-family: sans-serif;
    color: rgb(82, 81, 81);
    
}


/* EDUCAITON & EXPERIENCE */

#flex-cont2{
    display: flex;
}

#Education-flex{
    flex: 1;
    padding: 5% 0 5% 20%;
}

#Experience-flex{
    flex: 1;
    padding: 5% 10% 5% 3% ;
}


#education h1, #experience h1, #head{
    box-shadow: 2px 1px 2px 1px rgb(189, 188, 188);
    border-radius: 20px;
    padding: 1% 2%;
    display: inline-block;
    font-weight: 200;
    color: rgb(120, 120, 243);
    font-style: italic;
}
#education h1:hover, #experience h1:hover, #head:hover{
    background-color: rgb(248, 244, 244);
    animation: typing 1.5s ease-in;
}
#education h6,#experience h6{
    margin-top: 15%;
    margin-bottom: 3%;
    font-size: 1.1rem;
    font-weight: 100;
    color: rgb(105, 103, 103);
}
#education p, #experience p{
    font-weight: 100;
    font-size: 0.7rem;
    color: rgb(105, 103, 103);
    line-height: 1.7;
    font-family: sans-serif;
    
}
#NITH:hover, #Gurukul:hover, #HAPS:hover, #EXE:hover, #PR:hover, #Lean-In:hover, #IOTIOT:hover{
    /* border-bottom: 1px solid rgb(120, 120, 243);; */
    animation: scaleX 1s linear forwards;
}
/* SKILLS SECTION */
.skills{
    padding: 5% 15% 5% 20%;
    /* border-top: 1px solid rgb(120, 120, 243); */
    text-align: center;
}
#skills{
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.skill-div{
    color: rgb(36, 36, 36);
    
    font-weight: 500;
    display: inline-block;
    padding: 5%;
    
    margin-right: 5%;
    margin-bottom: 5%;
    /* border-radius: 20px; */
    box-shadow: 2px 2px 2px 1px rgb(189, 188, 188);
    
}

#skills-head{
    box-shadow: 2px 1px 2px 1px rgb(189, 188, 188) ;
    border-radius: 20px;
    padding: 1% 2%;
    display: inline-block;
    color: rgb(120, 120, 243);
    font-style: italic;
    font-weight: 200;
    margin-bottom: 10%;
    
}
#skills-head:hover{
    background-color: rgb(248, 244, 244);
    animation: typing 1.5s ease-in;
}

.skill-div img{
    
    width:15%;
}

.skill-p{
    margin-left: 0.5%;
    display: inline-block;
}

.DSA{
    text-align: center;
}
.skill-div:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(120, 120, 243);
    box-shadow: 3px 2px 2px 1px rgb(189, 188, 188)  inset;
    border: 0;
    border-radius: 0;
    animation: rotate 0.5s linear forwards;
}

/* PROJECTS SECTION */
#proj{
    background-color: #F0F8FF;
    /* border-top: 1px solid rgb(120, 120, 243); */
    text-align: center;
    padding: 3% 0;
}

#proj-head{
    /* box-shadow: 2px 1px 2px 1px rgb(189, 188, 188);
    border-radius: 20px; */
    /* padding: 1% 2%; */
    display: inline-block;
    color: rgb(120, 120, 243);
    /* background-color: white; */
    font-style: italic;
    font-weight: 200;
    
    text-align: center;
}

/* 
CARD */

#card{
    display: inline-block;
    text-align: center;
    /* background-color: white; */
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: auto;
    padding: 1%;
    margin: 1% 5%;
}
#card img{
    width: 350px;
    height: 200px;
}
#card:last-child{
    width: 230px;
    height: auto;
}
#card:last-child img{
    width: 230px;
    height: 300px;
}
#below-img{
    padding: 5%;
    line-height: 2;
    font-family: sans-serif;
    box-shadow: inset 6px 2px 1px rgb(236, 234, 234);
    background-color: white;
}
#below-img h1{
    font-weight: 100;
    color: rgb(120, 120, 243);
    font-family: serif;
    font-style: italic;
    
}
#below-img h4{
    margin-bottom: 2%;
    font-weight: 100;
    font-size: 0.9rem;
}
#card-tech{
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 2%;
}
#card-desc{
    font-size: 0.8rem;
}
#below-img a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-style: italic;
    font-size: 0.8rem;
    margin: 5%;
}
#card:hover{
    box-shadow: 6px 2px 1px rgb(223, 221, 221);
    border-top: 1px solid rgb(223, 221, 221);
}
#below-img:hover{
    box-shadow: none;
    
}


/* ACHEVEMENTS AND INTERESTS */
#achInt{
    padding: 5% 12% 5% 12%;
    text-align: center;
    background-color: rgb(245, 245, 245);
}
#head{
    margin-bottom: 5%;
    background-color: white;
}
#head h1{
    font-weight: 200;
    
}
.main-container{
    position: relative;
    width:  100%;
    margin-left: 0;
}

/*creating line for timeline*/
.main-container::after{
    content: '';
    position: absolute;
    width: 5px;
    background-color:  rgb(120, 120, 243);
    top: 1%;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 20px;
}
/*Adjusting box of all content*/
.text-wrap{
    padding: 2% 8%;
    position: relative;
    width: 51%;
    box-sizing: border-box;
    margin: 50px 0;
}
.text-wrap::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: 3px;
    background-color:  black;
    top:15px;
    border-radius: 50%;
    z-index: 1;
}
/*for left events*/
.left{
    left: 0;
}
/*for right events*/
.right{
    left:50%;
}
.right::after{
    left:-8px;
}
/*content box colour padding and radius for circular corner*/
.content{
    padding: 15px 15px 15px 17px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 6px 2px 1px rgb(236, 234, 234);
}
.content:hover{

    box-shadow: inset 6px 2px 1px rgb(236, 234, 234);
    animation: scaleX 0.2s linear forwards;
}

.main-container h1{

    color: rgb(120, 120, 243);
    font-style: italic;
    font-weight: 200;
    margin-bottom: 2%;
    
}

/* 
FOOTER */
#footer{
    padding: 3% 10%;
    text-align: center;
    background-color: #11698E;
    color: #F8F1F1;
    line-height: 1.5;
    
}
#footer h2,h3{
   
    font-weight: 100;
}
#footer a{
    text-decoration: none;
    color: #F8F1F1;

}
#footer a h3{
    
    margin-bottom: 2%;
}
.footer-links{
    margin: 0 1.5%;
    font-size: 1.5rem;
}
#footer a:hover{
    
    color: black;
}
#footer a h3:hover{
    animation: scaleX 0.5s linear forwards;
}
.fab:hover{
    animation: rotate 0.5s linear forwards;
    color: black;
}
#footer p{
    margin-top: 1%;
}









/* MEDIA QUERIES */
@media (max-width: 950px){
    #skills{
        grid-template-columns: auto auto auto;
    }
    #proj-head{
        margin-bottom: 5%;
    }
    #card{
        margin-bottom: 5%;
    }
}
@media (max-width: 790px){
    .main-container::after{
        content: none;
    }
    .text-wrap{
        width: 100%;
    }
    .text-wrap::after{
        content: none;
    }
    .r{
      box-shadow: inset  6px 2px 1px rgb(236, 234, 234)
    }
    .r:hover{
        box-shadow: 6px 2px 1px rgb(236, 234, 234)
    }
    .right{
        left:0;
    }

    #footer h2{
        font-size: 1.3rem;
    }
    #footer h3{
        font-size: 1rem;
    }
    #footer a{
        font-size: 1rem;
    }

}
@media (max-width: 610px){
    #landing-flex-container{
        display: block;
    }
    #nav{
        margin-bottom: 2%;
        line-height: 2;
        text-align: center;
    }
    #landing-bg-img{
        padding: 45% 5% 5% 15%;
    }
    #Avatar img{
        margin-top: 5%;
        width: 150px;
        height: 150px;
    }
    #name, #email, #about-btn{
        margin-top: 5%;
    }
    #skills{
        grid-template-columns: auto auto;
    }

}
@media (max-width: 470px){
    #skills{
        grid-template-columns: auto;
    }
    #flex-cont2{
        display: block;
        text-align: center;
    }
    #Education-flex,#Experience-flex{
        padding: 5% 0;
    }
    #footer h2{
        font-size: 1rem;
    }
    #footer h3{
        font-size: 0.8rem;
    }
    #footer a, p{
        font-size: 0.8rem;
    }
    #card{
        width: 300px;
    }
    #card img{
        width: 300px;
    }
}

@keyframes pop{
    0%{transform: translateY(-1000px);}
    70%{transform: translateY(0px);}
    80%{transform: translateY(-80px);}
    90%{transform: translateY(0px);}
    95%{transform: translateY(-30px);}
    100%{transform: translateY(0px);}
}
@keyframes scaleX{
    from{transform: scaleX(1);}
    to{transform: scaleX(1.2);}
}
@keyframes scaleY{
    from{transform: scaleY(1);}
    to{transform: scaleY(1.2);}
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
 
@keyframes rotate{
    to{transform: rotateX(0deg);}
    from{transform: rotateX(360deg);}
}  